.navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  .logo img {
    width: 100px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-links li {
    list-style: none;
    margin-left: 1rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  